{% extends "ethereumWeb3App/base4.html" %}
{% block code %}
<div class="shadow border rounded p-4 bg-light">

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Product line</th>
          <th scope="col">Segment Name</th>
          <th scope="col">Owner</th>
          <th scope="col">Details</th>
          <th scope="col">Check</th>
        </tr>
      </thead>
      <tbody>
        {% for row in file %}
          <tr>
            <td class="col">{{ row.index }}</td>
            <td scope="col">{{ row.user }}</td>
            <td scope="col">{{ row.TypeOfData }}</td>
            <td scope="col">{{ row.IpfsHash }}</td>
            <td scope="col">{{ row.TimeStamp }}</td>
             <td scope="col">{{ row.UploadTnxHash }}</td>
            <td scope="col">https://gateway.pinata.cloud/ipfs/{{ row.IpfsHash }}</td>


          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}





