{% extends "ethereumWeb3App/base4.html" %}
{% block code %}
<div class="shadow border rounded p-4 bg-light">

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th style="color:teal;" scope="col"><b>Index</b></th>
          <th style="color:teal;" scope="col"><b>Owner</b></th>
          <th style="color:teal;" scope="col"><b>TypeOfData</b></th>
          <th style="color:teal;" scope="col">Ipfs-CID</th>
          <th style="color:teal;" scope="col"><b>TimeStamp</b></th>
          <th style="color:teal;" scope="col"><b>TnxHash</b></th>
          <th style="color:teal;" scope="col"><b>AssetLink</b></th>
        </tr>
      </thead>
      <tbody>
        {% for row in file %}
          <tr>
            <td style="color:teal;" scope="col"><b>{{ row.index }}</b></td>
            <td style="color:teal;" scope="col"><b>{{ row.user }}</b></td>
            <td style="color:teal;" scope="col"><b>{{ row.TypeOfData }}</b></td>
            <td style="color:teal;" scope="col"><b>{{ row.IpfsHash }}</b></td>
            <td style="color:teal;" scope="col"><b>{{ row.TimeStamp }}</b></td>
            <td style="color:teal;" scope="col"><b>{{ row.UploadTnxHash }}</b></td>
            <td style="color:teal;" scope="col"><a style="color:teal;" href="https://gateway.pinata.cloud/ipfs/{{ row.IpfsHash }}"><b>ipfs-link</b></a></td>


          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}





