{% extends "ethereumWeb3App/base.html" %}

{% block code %}
<style>
    .button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {background-color: teal;}
</style>
<br><br><br>
<h1 style="color: teal;padding-left: 4em;"><b> Hello {{username}} , You are logged in </b></h1>
<br>
<br>
<br>
<br>
<br>
<div align="center" >

    <a class= "button button2 " href="{% url 'UploadFile' %}">Upload</a>


</div>



{% endblock %}
