{% extends "ethereumWeb3App/base.html" %}
    {% block code %}
        <style>
            .button {
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        .button2 {background-color: teal;}
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
        padding: 5px;
        text-align: left;
        }

        tr:nth-child(even) {
          background-color: #add8e6;
        }
        </style>
        <br><br><br>
        <h1 style="color: teal;padding-left: 4em;"><b> Hello {{ userkey }} : You are logged in </b></h1>
        <br>
        <br>
        <br>
        <br>
        <br>


        <div align="center" >

            <a class= "button button2 " href="{% url 'UploadFile' %}">Upload</a>


        </div>
        <br>
        <br>
        <br>
        <br>
        <div>
            <h1 align="center" style="color:teal"><b>SECURE-DROP WALLET</b></h1>
            <table align="center" style="width:40%; height=50%">

                    <tr>
        <th>BLOCKCHAIN NETWORK</th>
        <td><b>GANACHE TEST NETWORK</b></td>
        </tr>

                         <tr>
        <th>WALLET ADDRESS</th>
        <td><b>{{ address }}</b></td>
        </tr>
                 <tr>
        <th>USERKEY</th>
        <td><b>{{ userkey }}</b></td>
        </tr>
        <tr>
        <th>BALANCE</th>
        <td><b>{{ balance }}      <b>Ether</b></b></td>
        </tr>





        </table>

        </div>


    {% endblock %}
